/* your code here */
.content{
	background:black;
	padding:20px 20px;
}
.logo_name{
	color:white;
	text-weight:bolder;
	text-size:50px;
}

.content.top{
	display:flex;
	flex-flow: wrap;
}
.link h3{
	color:white;
}
.link{
	display:flex;
	flex-flow:ro wrap;
	gap:10px;
	justify-content:space-evenly;
	
}
.link-boxes{
	display:flex;
	flex-flow: wrap;
	gap:10px;
}
.link-boxes a{
	text-decoration:none;
	color:#6D6D6D;
}